.image{
  width: 100;
  height: 400px;
  background-image: url('../img/main-image.png');
  background-size: cover;
  background-repeat: no-repeat; 
  border-radius: 30px;
}

h1,h2{
  font-weight: 100;
}

h1{
  line-height: 10px;
}

.details{
  line-height: 5px;
}
